/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html * {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

iframe { 
width: 100%; 
border: 0
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}


img.center {
    display: block;
    margin-left: auto;
    margin-right: auto }

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   By: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 20px/26px Calibri, Arial, CourierNew;
}

.wrapper {
    width: 100%;
    margin: 0;
}

.footer-container,
.main aside {
    border-top: 20px solid #1c4870;
    text-align: center;
    padding: 50px;
}

.header-container,
.footer-container,
.main aside {
    background: #004F95; /*#ff7900;*/
}

.footer-container img{
    padding:10px;
    image-rendering: optimizeSpeed;             /* FUCK SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

/* ==============
    MOBILE: Main
   ============== */

.main article h1 {
    font-size:   40px;
    line-height: 1;
    font-family: "Avenir Next", "Helvetica", sans-serif;
    display: block;
    margin: 10px 0px 0px 0px;
}


.main-title-container {
    margin: auto;
    text-align: center;
    width: 75%;
}

.main-title-menu-container {
    display: block;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.main-title-menu a:link, a:visited {
    color: #9d9d9d;    
    text-decoration: none;
}

.main-title-menu {
    display: inline-block;
    margin: 5px 0px 10px 0px;
    vertical-align: middle;
    line-height: 170%;
    white-space: nowrap;
    font-weight: 900;
    padding: 0px 5px 0px 5px;
    font-size: 24px;

}

.logo-container {
    display: inline-block;
    margin: -10px;   
}
    
.logo-container img{
    display: inline-block;
    margin: 0px;
}

.top-icons img {
    padding: 0px 10px;
}

.line-separator{

height:1px;

background:#bababa;

border-bottom:1px solid #bababa;

}



@media screen and (max-width: 570px) {
    
    .main article h1 {
        display: block;
        font-size: 28px;
        line-height: 1;
        font-family: "Avenir Next", "Helvetica", sans-serif;
        text-align: center;
    }

    .main-title-container {
        margin-top:    10px;
        margin-bottom: 10px;
        font-size: 2em;
    }
    
    .logo-container {
    display: inline-block;
    margin: -10px;
}
    
    .logo-container img{
    display: inline-block;
    margin: 0px;
}
   
}

.main article h1 a {
    color: black;
    text-decoration:none;
}

.main article h1 a:hover,.main article h1 a:visited {
    text-decoration: underline;
}


.hoffer-quote-box {
    padding: 5px 20px;
    font-size: 16px;
    line-height: normal;
    text-align: left;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}
 ==========================================================================
   Author's custom styles zzz
   ========================================================================== */


.a-link-text-dec-none a{
    text-decoration: none;
}

.index-menu{
    width: 50%;
}


.pixelpeter-item {
    width: 75%; /* see article width above */
    position: relative;
    display: block;
    margin: 0 auto;
}

.the-downlow {
    float: left;
    width: 50%;
}

.pixelpeter-container {
    float: left;
    width: 50%;
}

.pixelpeter-png {
    position: absolute;
    right: -10px;
    top: -20px;
}

/* ARCHIVE */
past-event img{
    width: 100%;
}

@media only screen and (max-width: 570px) {

    .plain-item  p {
        font-size: 16px;
        line-height: 1.1;
        margin: 10px 0px 4px 0px;
    }

    .pixelpeter-item {
        width: 100%;
        position: relative;
        height: auto;
        display: block;
    }

    .the-downlow {
        float:none;
        display: block;
        width: 100%;
    }

    .pixelpeter-container {
        float:none;
        display: block;
        width: 100%;
        margin-top: 16px;
    }


    .pixelpeter-png {
        position: inherit;
        width: 100%;
    }
}

past-event img{
    width: 100%;
}

.center-please {
    padding-top: 14px;
    text-align : center;
}

.image-ee-science-gif {
    width: 50%;
    display: inline-block;
    padding-right: 5px;
}

.image-ee-promo {
    width: 42%;
    display: inline-block;
}

.image-ee-napping {
    width: 41%;
    display: inline-block;
    padding-right: 5px;
}

.responsive-image {
    width: 100%;
    height: auto;
}

#fadeout {
    transition: opacity 1s;
}

#fadeout:hover {
    opacity: 0;
}



/*project boxes*/

.project-item-box {
    overflow: auto;
    max-width: 600px;
    margin: 2px auto 2px auto;  
    font-size: 18px;
    font-family: "Avenir Next", "Helvetica", sans-serif;
}

.project-item-box blockquote {
    font-style: italic;
}

.project-item-content {
       margin: 10px;
}

.project-item-content a:visited{
       color: black;
}

.project-item-content a:link{
       color: #004F95;
}


.project-item-content img {
	float: left;
    padding: 5px;
}


.two-hundred-word-box-toc {
    font-size: 16px;
    font-family: "Avenir Next", "Helvetica", sans-serif;
    background-color: whitesmoke;
    padding: 10px;
    max-width: 800px;
}

.two-hundred-word-box-toc a {
    text-decoration: none;
}

.two-hundred-word-box-toc a:visited {
    color: #939393;
}


.two-hundred-word-box-toc h6 {
    padding: 0px;
    margin: 0px;
    text-align: right;
}

.two-hundred-word-box-toc h3 {
    padding: 0px;
    margin: 0px;
}

.two-hundred-word-box {
    font-size: 16px;
    font-family: "Avenir Next", "Helvetica", sans-serif;
    background-color: whitesmoke;
    padding: 10px;
    max-width: 800px;
}

.two-hundred-word-box h6 {
    padding: 0px;
    margin: 0px;
    text-align: right;
}

.two-hundred-word-box h3 {
    padding: 0px;
    margin: 0px;
}
    

.footer-content {
    width: 58%;
    margin: 20px auto;
}

.footer-link:visited {
    color:inherit;
}


/*zzz petes tweeter */
#tweeter-box {
    background-color: #004F95;
    border-bottom: 20px solid #1c4870;
    padding: 15px 20px ;
    position: relative; 
    text-align: center;
}

#tweeter-content {
   -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: white;
    padding: 0px 5px;
    background: white;
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
}

#tweeter {
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

#tweeter-logo {
    position: absolute;
    top:50px;
    right:10px;
}

/*zzz jquery.tweet.js stuff */
.tweet, .query {
    font: 120% Georgia, serif;
    color: #085258;
}

.tweet_list {
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    list-style: none;
    margin: 0;
    padding: 0;
}

.tweet_list li {
    list-style-type: none;
    margin-left: 79px;
}

.tweet_list .tweet_even {
    background-color: #529ed7;
}

.tweet_list .tweet_avatar {
    padding-right: .5em;
    position: absolute;
    left: 10px;
    top: 10px;
}

.tweet_list .tweet_avatar img {
    vertical-align: middle;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */


@media only screen and (min-width: 570px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }



@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 100%; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
    

        
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.nowrap {
    white-space: nowrap;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}




img {
    
}

img {
    
}
