
html, body {
margin:0;
padding:0;
}

.top-bar {
    background-color: #004F95;
    border-bottom: 20px solid #1c4870;
    padding: 5px;
    text-align: center;
    position: relative; 

}

.bottom-bar {
    background-color: #004F95;
    border-top: 20px solid #1c4870;
    padding: 20px;
    text-align: center;
    position: relative; 

}

.screenplay {
margin:auto;
font-family: "Avenir Next", "Helvetica", sans-serif;
font-size: 18px;
max-width: 700px;
}



@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
    


.screenplay {
max-width: 96%;
font-family: avenir next;
font-size: 18px;
}

}