
html, body {
margin:0;
padding:0;
}

.top-bar {
    background-color: #004F95;
    border-bottom: 20px solid #1c4870;
    padding: 5px;
    text-align: center;
    position: relative; 

}

.bottom-bar {
    background-color: #004F95;
    border-top: 20px solid #1c4870;
    padding: 20px;
    text-align: center;
    position: relative; 

}

.screenplay {
margin:auto;
font-family: "Avenir Next", "Helvetica", sans-serif;
font-size: 18px;
padding: 10px;
max-width: 600px;
}

p {
padding-left: 25%;
margin-top: 0px;
}

/**
title
*/
h1 {
font-size: 48px;
padding-top: 20px;
padding-left: 5px;
padding-bottom: 80px;
margin: auto;
}


/**
titles
*/
h2 {
font-size: 18px;
padding: 10px;
margin: auto;
background: whitesmoke;
}


/**
characters
*/
h3 {
font-size: 16px;
padding-left: 10%;
margin: auto;
    
}


/**
episodes
*/
h4 {
font-size: 16px;
line-height: 36px;
padding-left: 10%;
border-left: 10px;
margin: auto;
}


/**
credits
*/
h5 {
font-size: 16px;
line-height: 36px;
padding-left: 10%;
border-left: 10px;
margin: auto;
background: whitesmoke;
}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
    

.screenplay {
max-width: 96%;
font-family: avenir next;
font-size: 18px;
}


p {
padding-left: 12%;
margin-top: 0px;
}
    
/**
characters
*/
h3 {
font-size: 16px;
padding-left: 6%;
margin: auto;
    
}


/**
episodes
*/
h4 {
font-size: 16px;
padding-left: 6%;
margin: auto;
}
    
    
}