@font-face {
    font-family: 'CourierPrime';
    src: url('/css/font/CourierPrime/CourierPrime.ttf');
}
@font-face {
    font-family: 'CourierPrimeBold';
    src: url('/css/font/CourierPrime/CourierPrimeBold.ttf');
}
@font-face {
    font-family: 'CourierPrimeItalic';
    src: url('/css/font/CourierPrime/CourierPrimeItalic.ttf');
}
@font-face {
    font-family: 'CourierPrimeBoldItalic';
    src: url('/css/font/CourierPrime/CourierPrimeBoldItalic.ttf');
}

.screenplay {
margin:auto;
font-family: courier new;
font-size: 18px;
max-width: 700px;
}

.action {
    margin: 1em 0px 0px 0px;
}

.dialog {
padding: 0px 15%;
max-width: 350px;
margin: auto;
}

.dialog p{
margin: 0px;
}

p.character {
text-align: center;
margin: 1em 0px 0px 0px;
}

p.parenthetical {
text-align: center;
}

h6 {
font-family: Courier new;
font-size: 18px;
line-height: 36px;
margin: auto;
background: whitesmoke;

}

h2 {
font-family: CourierPrime;
font-size: 18px;
background: lightgray;
}

@media only screen 
    and (min-device-width : 375px) 
    and (max-device-width: 570px) {

.screenplay {
max-width: 96%;
    
}

.action {
}

.dialog {
padding: 0px 15%;
max-width: 88%;
}

.dialog p{
margin: 0px;
}

p.character {
text-align: center;
margin: 1em 0px 0px 0px;
}    
    
}